
<article>
    <header>
art
    </header><br>
    <div class="level">
    <div class="level-left has-background-info">
    <div  class="level-item">
    article
    </div>
    </div>
    <div class="level-right has-background-ali">
rite
    </div>
    </div>
</article>
