<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>

<html>
<body>

<!-- menu -->

<section class="section">
	<div class="columns">
		<div class="column is-one-quarter">
		<% include shop/cat%>
		</div><!--/col1/4-->
	
		<div class="column">
		<% include shop/top %>
		</div><!--/col3/4-->
	
    </div><!-- /col-->


</section>

<% include par/foot %>

</body>


</html>

