<div class="column is-one-5">
	<a href="/Cart" target="_blank"><font color="white" size="2">Cart</a></font><br>
	<a href="/cart" target="_blank"><font color="white" size="2"> ・お支払いについて</a></font><br>
 
</div><!--/col2-->

