<div class="column is-one-5">
    
	<a href="/My page" target="_blank"><font color="white" size="2">マイページ</a></font><br><br>
	<a href="/My page" target="_blank"><font color="white" size="2">アカウント登録</a></font><br>
	<a href="/My page" target="_blank"><font color="white" size="2">パスワード再発行</a></font><br>
	<a href="/history" target="_blank"><font color="white" size="2">購入履歴</a></font><br>
  
</div><!--/col3-->



