<div class="column is-one-5" style="background-color:">
   
	<a href="/guide" target="_blank"><font color="white" size="2">ご利用ガイド</a></font><br>
	<br>
	<a href="#gu1" target="_blank"><font color="white" size="2">・お支払いについて</a></font><br>
	<a href="#gu1" target="_blank"><font color="white" size="2">・商品のお届けについて</a></font><br>
	<a href="#gu2" target="_blank"><font color="white" size="2">・送料について</a></font><br>
	<a href="#gu3" target="_blank"><font color="white" size="2">・お問合せ</a></font><br>
	<br>
	<a href="/guide" target="_blank"><font color="white" size="2">特定商取引法に関する表示</a></font><br>
	<a href="/guide" target="_blank"><font color="white" size="2">privacy policy</a></font><br>

</div><!--/col4-->

