<p class="has-text-centered">
<button class="button ">ユーザー登録（無料）</button></p>

<br>
<form action="/usr-fin" method="post">
    <p class="label"> Name</p>
<input class="input" type="text" class="form-control" name="name" ><br>

<p class="label">Password</p>
<input class="input" type="text" class="form-control" name="pss" ><br>

<p class="label">E-mail</p>
<input class="input" type="email" class="form-control" name="email" ><br>

<p class="label"><a href="/shop/agmt" target="_blank">利用規約</a>をお読みください。
<input class="checkbox" type="checkbox" name="chk" value="yes"> 同意する<br>
</p>
<br>
<button type="submit" class="button is-danger">登録</button>
</form>

