<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
<ul>
<li><a href="/">top</a></li>
<li class="is-active"><a href="cart-<%= par %>" aria-current="page">
        <% if(par=="art"){ %>     
        artist
        <% }else if(par=="com"){ %>     
complilation
<% }else if(par=="dra"){ %>     
drama 
<%} else { %>     
        <% }  %>
    </a></li>
</ul>
</nav>

