<div class="has-text-centered">
<div align="Left">
<a class="button is-black">
Category</div></a>
</div>

<br><br>
<% include ./ul %>

<div align="left">
<a href="https://twitter.com/tmsm2011" target="_blank"><img src="img/tw.png" alt=tw/icon width="40" height="40" align="center"> </a> &nbsp;

<a href="https://www.youtube.com/user/tmsm2010" target="_blank">
<img src="img/you.png" alt="youtube/icon" width="40" height="40" align="center"> </a>&nbsp;

<a href="https://tmsmusic.tokyo" target="_blank">
<img src="img/tmsm.png" alt="tmsm/icon" width="50" height="50" align="center"> </a> &nbsp;

</div>

