<section class="card">

<div class="card-content">
    <p class="has-background-light has-text-centered"> <%=shop.pay%></p><br><br>

   <a href="/paypal"> <button class="button is-info">paypal    </button></a><br>
   <a href="/paidy"> <button class="button is-danger">paidy </button></a>
</div>

</section><br>
