<div class="columns" style="background-color:blue">

    <div class="column is-one-quarter" >1</div>
    <div class="column is-one-quarter" style="background-color:aliceblue">1</div>
    <div class="column">3</div>
</div>
<br>

<div class="columns" style="background-color:beige">
<div class="column">3</div>
</div>

<div class="level"> 
    <div class="level-item">
    lev111111
    </div>
<div class="level-item">
lev
</div>
<div class="level-item">
    lev
</div>

</div>
