      <ul>
        <li><a href="category-art">Artist CD</a></li> 
        <li><a href="category-ost">Sound Track</a></li> 
        <li><a href="category-cha">Character Song</a></li>
        <li><a href="category-dra">Drama CD</a></li>
        <li><a href="category-com">Compiration CD</a></li>
        <li><a href="category-goo">Goods</a></li>
        <li><a href="category-mis">Other</a></li>
      </ul>


