<form method="get" action="/cart">
<input class="input" min=0 type="number" name="rset" value="<%= sar[i].uni %>">
<input type="hidden" name="rsku" value="<%= sar[i].sku%>">
<button class="button" type="submit">change</button>
</form>


