<div class="card">
<div class="card-content text-center">
category
</div>

<div class="content">
    <ul>
        <li><a href="cart-art">artist</a></li>
        <li><a href="cart-ost">ost</a></li>
        <li><a href="cart-cha">ost</a></li>
        <li><a href="cart-dra">ost</a></li>
        <li><a href="cart-com">ost</a></li>
        <li><a href="cart-goo">ost</a></li>
        <li><a href="cart-mis">ost</a></li>
    </ul>
</div>

</div>
