<!DOCTYPE html>

<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -- >

<section class="section">
	
    <div class="columns">
		
        <div class="column is-one-quarter ">
		
	    <% include shop/cat %>
		
		</div><!--column -->
		
	
    	<div class="column"> 
		<% include shop/top %>
		
		</div><!-- /col-->
	
    </div><!-- /cols-->

</section><!-- sec-->

<% include par/foot %>

</body>
</html>

