<footer class="footer">


<div class="columns">
    
	<div class="column is-one-5"></div><!--/col1-->
    
	<% include pfoot/col2 %>
	<% include pfoot/col3 %>
	<% include pfoot/col4 %>

	<div class="column is-one-5"></div><!--/col5-->


</div><!--/columns -->

   <br>


<!--固定最下段-->

	<div class="columns">
	<div class="column" style="text-align:center">

	<span style="font-size:medium">
	サイト内の文章、画像などの著作物の複製、無断転用を禁じます。<br>
	&#169;&nbsp;TMS MUSIC CO.,LTD. ALL Rights Reserved.
	</span>


	</div><!--/columns-->
	</div><!--/col-->


</footer>


