<div id="base" class="navbar-menu">
	<div class="navbar-start"></div>
	<div class="navbar-end">
		<div class="navbar-item">
		
<a class="button is-black has-text-white" href="/usr-my">
my page
</a>
<a class="button is-black" href="/usr-fav">Favorite&nbsp;
			<img src="img/heart.png" alt="heart/icon"></a>
			<a class="button is-black" href="/usr-his">history&nbsp;
			<img src="img/history.png" alt="history/icon"></a>

			<a class="button is-black" href="/cart">Cart&nbsp;
			<img src="img/cart.png" alt="cart/icon"></a>

			<a class="button is-black" href="/usr-sea">Search&nbsp;
<img src="img/search.png" alt="search/icon"></a>
			<a class="button is-black" href="/usr-fo">Info&nbsp;
			<img src="img/info.png" alt="info/icon"></a>

		</div><!--navitem -->
	</div><!--/navend-->
</div><!--/navmenu -->


