<link href="css/bor.css" rel="stylesheet">
<div class="d-flex  bor-t">
  <div class="flex-fill p-2 bor-r">

<a href="/">tmStore</a><br>
<a href="http://tmsmusic.tokyo/" target="_blank"> <i class="fa-music fa-1x fa-fw"></i></a>
<a href="https://twitter.com/axell_official" target="_blank">twitter</a>/
<a href="https://ameblo.jp/dansou-axell/" target="_blank">blog</a>/
<a href="https://www.youtube.com/channel/UCgaU4ta1xL-DDviMl-OkHsQ" target="_blank">YouTube</a>/
<a href="http://tmsmusic.tokyo/" target="_blank">Label</a>

  </div>

  <div class="flex-fill p-2 bor-r">
      mid
      mid
      mid
      mid
  </div>

  <div class="flex-fill p-2">
<a href="notation" target="_blank"><font color="#868989"><font size="2px">特定商取引法に関する表示 </a>/
<a href="http://tmsmusic.tokyo/privacy" target="_blank"><font color="#868989">privacy policy</a></font>
<br>
<font color="#ffffff">
<span>&#169;&nbsp;TMS MUSIC CO.,LTD. All Rights Reserved.</span>

    </div>

  </div>
